<html>
  <head>
    <title>Texting FTW!</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
  <body>
    <div id="main-content">
      <div id="phone-number">(971) 801-6341</div>
      <hr></hr>
      {{{body}}}
    </div>
  </body>
</html>
