<html>
  <head>
    <title>Texting FTW!</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
  <body>
    <div id="main-content">
      <header id="phone-number"><span>(503) 783-8652</span></header>
      <main>
      {{{body}}}
      </main>
    </div>
  </body>
</html>
